<div>
    <app-header></app-header>
<div class="container mt-4">
    <div class="main-div2">
      <div class="text-center pt-4">
        <h3>PassWord Reset</h3>
      </div>
      <form nz-form [formGroup]="resetform" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item >
          <nz-form-control [nzErrorTip]="emailerr" style=" font-size: 18px !important;font-family: serif;" class="col-md-12">
            <nz-input-group nzPrefixIcon="user" style="font-size: 1.53em;">
              <input type="email" nz-input formControlName="email" placeholder="Email" style=" font-size: 18px !important;font-family: serif;"/>
            </nz-input-group>
            <!-- <div *ngIf="emailerror" class="text-danger">Invalid Email!</div> -->
          </nz-form-control>
        </nz-form-item>
        <ng-template #emailerr let-control>
          <ng-container *ngIf="control.hasError('required')">
           Email is Required!
          </ng-container>
          <ng-container *ngIf="control.hasError('email')">
           Invalid Email!
          </ng-container>
          <!-- <ng-container *ngIf="control.hasError('pattern')">
                Not a valid pattern!
              </ng-container> -->
        </ng-template>
        <nz-form-item >
          <nz-form-control nzErrorTip="OTP is Required!"  style=" font-size: 18px !important;font-family: serif;" class="col-md-7">
            <nz-input-group nzPrefixIcon="eye" style="font-size: 1.53em;">
              <input type="text" nz-input formControlName="otp" placeholder="Enter OTP" style=" font-size: 18px !important;font-family: serif;"/>
            </nz-input-group>
            <!-- <div *ngIf="emailerror" class="text-danger">Invalid Email!</div> -->
          </nz-form-control>
          <div class="col-md-5"><a class="btn btn-primary mt-3" (click) ="Getotp()">GET OTP</a></div>
        </nz-form-item>
        <nz-form-item class="pt-2">
          <nz-form-control nzErrorTip="Password is Required!"  style=" font-size: 18px !important;font-family: serif;" class="col-md-12">
            <nz-input-group nzPrefixIcon="lock" style="font-size: 1.53em;">
              <input type="password" nz-input formControlName="reset_pwd" placeholder="Reset Password" style=" font-size: 18px !important;font-family: serif;"/>
            </nz-input-group>
           
          </nz-form-control>     
         </nz-form-item>
        <div class="text-center mt-4 pb-4">
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
            type="submit" style="border-radius:6px;font-size:17px" [nzLoading]="resetloading"><b>Verify</b></button>
        </div>
      </form>
    </div>
  </div>
  </div>