<div class=" pb-4">
  <app-header></app-header>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="main-div">
          <div class="text-center pt-4">
            <h3>User Registration</h3>
          </div>
          <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzRequired>Name</nz-form-label>
              <nz-form-control [nzSpan]="20">
                <input nz-input formControlName="name" placeholder="Name" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzRequired>E-mail</nz-form-label>
              <nz-form-control [nzSpan]="20" nzHasFeedback [nzErrorTip]="emailErrorTpl">
                <input nz-input formControlName="email" placeholder="email" type="email" />
                <ng-template #emailErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('email')">
                    Not a valid Email!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('required')">
                    Please Enter E-mail!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class=" mb-2">
              <nz-form-label [nzSpan]="14">Click here to GET OTP</nz-form-label>
              <div><button nz-button class="btn btn-primary pl-2 pr-2" type="button" (click)="Getotp()"
                  [nzLoading]="otploading">GET OTP</button></div>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzRequired>Enter OTP</nz-form-label>
              <nz-form-control [nzSpan]="20" nzHasFeedback [nzErrorTip]="emailErrorTpl">
                <input nz-input formControlName="otp" placeholder="OTP" type="text" />
                <ng-template #emailErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('otp')">
                    OTP is Required!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzRequired>Mobile No</nz-form-label>
              <nz-form-control [nzSpan]="20" nzHasFeedback [nzErrorTip]="mobileTpl">
                <input nz-input formControlName="mobile_no" placeholder="Mobile No" type="text" />
                <ng-template #mobileTpl let-control>
                  <ng-container *ngIf="control.hasError('max')">
                    Not a Valid Mobile No!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('required')">
                    Please input your Mobile No!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzRequired>District</nz-form-label>
              <nz-form-control [nzSpan]="20" nzHasFeedback nzErrorTip="District is Required!" class="pl-2">
              <select class="form-control" formControlName="district">
                <option value="">Select Distrcit</option>
                <option  value="Coimbatore">Coimbatore</option>
                <option  value="Erode">Erode</option>
                <option  value="Nilgiris">The Nilgiris</option>
                <option value="Tirupur">Tirupur</option>
              </select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzRequired>Password</nz-form-label>
              <nz-form-control [nzSpan]="20" nzHasFeedback nzErrorTip="Please input your password!">
                <input nz-input type="password" formControlName="password"
                  (ngModelChange)="validateConfirmPassword()" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzRequired>Confirm Password</nz-form-label>
              <nz-form-control [nzSpan]="20" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                <input nz-input type="password" formControlName="confirm" placeholder="confirm your password" />
                <ng-template #passwordErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please confirm your password!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('confirm')">
                    Password Mismatch!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control class="text-center">
                <button class="btn btn-primary pl-2 pr-2" nz-button [nzLoading]="regloading">Submit</button>
              </nz-form-control>
            </nz-form-item>
          </form>

        </div>
        </div>
        <div class="col-md-4">
          <div style="margin-top:180px" class="alert alert-info ml-4 p-2">If you click <b>"Get OTP"</b> button, the OTP will be sent to your email id.<br/>
            If you cannot see OTP in your mailbox, please see in your spam folder.</div>
        </div>
      </div>
      <div class="text-center bg-gray p-2">
        <b style="font-size:14px">Designed and developed by : ERP team, Bharathiar University, Coimbatore 641046<br/>
          erp@buc.edu.in, 91-422-2428360</b>
      </div>
    </div>