<div>
  <div class="text-center mt-2">
    <div class="text-center  mb-2">
      <img src="assets\images\logo_new.png" style="width: 25%;">
    </div>
    <div class="d-flex mb-3">
      <div class="text-left flex-fill bg-blue"> </div>
      <div class=" flex-fill bg-blue">
        <h4 style="color:#fff;padding-left: 241px;" class="mt-2"><strong>ONLINE GRADUATE RENEWAL</strong>
        </h4>
      </div>
      <div class="text-right flex-fill bg-blue">
        <button nz-button class="btn btn-success p-1" (click)="Login()">New User Login</button>
        <button nz-button class="btn btn-success p-1" (click)="Renewallogin()">Renewal Login</button>
        <!-- <button nz-button class="btn btn-light p-1 float-right"  (click)="Register()"> Register</button> -->
        <!-- <nz-button-group>
          <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
          
            <i nz-icon nzType="menu" nzTheme="outline"></i>
          </button>
        </nz-button-group>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item><a class="nav-link" (click)="redirect()">Admin Login</a></li>
          </ul>
        </nz-dropdown-menu> -->
      </div>
    </div>
  <div class="container mt-4">
    <div class="main-div">
      <div class="text-center pt-4">
        <h3>Renewal Login</h3>
      </div>
      <div class="text-center pt-3" *ngIf="failed">
        <span class="alert alert-danger">Invalid Credentials!</span>
      </div>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item >
          <nz-form-control [nzErrorTip]="emailerr" style=" font-size: 18px !important;font-family: serif;">
            <nz-input-group nzPrefixIcon="user" style="font-size: 1.53em;">
              <input type="text" nz-input formControlName="email" placeholder="Email" style=" font-size: 18px !important;font-family: serif;"/>
            </nz-input-group>
            <!-- <div *ngIf="emailerror" class="text-danger">Invalid Email!</div> -->
          </nz-form-control>
        </nz-form-item>
        <ng-template #emailerr let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please input your Email!
          </ng-container>
          <ng-container *ngIf="control.hasError('email')">
           Invalid Email!
          </ng-container>
          <!-- <ng-container *ngIf="control.hasError('pattern')">
                Not a valid pattern!
              </ng-container> -->
        </ng-template>
        <nz-form-item >
          <nz-form-control [nzErrorTip]="passerr" style=" font-size: 18px !important;font-family: serif;">
            <nz-input-group nzPrefixIcon="lock"  style="font-size: 1.23em;">
              <input type="password" nz-input formControlName="password" placeholder="Password" style=" font-size: 18px !important;font-family: serif;" />
            </nz-input-group>
            <!-- <div *ngIf="emailerror" class="text-danger">Invalid Password!</div> -->
          </nz-form-control>
        </nz-form-item>
        <ng-template #passerr let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please input your Password!
          </ng-container>
          <ng-container *ngIf="control.hasError('passExists')">
           Invalid Password!
          </ng-container>
          <!-- <ng-container *ngIf="control.hasError('pattern')">
                Not a valid pattern!
              </ng-container> -->
        </ng-template>
        <div class="d-flex mt-3">
          <nz-form-item >
            <div class="text-left flex-fill">
              <input nz-checkbox formControlName="remember" type="checkbox" id="remember">
              <span>&nbsp;&nbsp;&nbsp;Remember me</span>
            </div>
          </nz-form-item>
        </div>
        <div class="text-center mt-4 pb-4">
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
            type="submit" style="border-radius:6px;font-size:17px" [nzLoading]="loginloading"><b>Login</b></button>
        </div>
        <div class="d-flex mt-1">
          <a [routerLink]="['/passwordreset']">Forgot Password</a>
          <a [routerLink]="['/renewaluser']" style="padding-left: 76px;">New User</a>
        </div>
      </form>
    </div>
  </div>
</div>