<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
<link rel="javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
<div>
  <div class="text-center mt-2">
    <div class="text-center  mb-2">
      <img src="assets\images\logo_new.png" style="width: 25%;">
    </div>
    <div class="d-flex mb-3">
      <div class="text-left flex-fill bg-blue"> </div>
      <div class=" flex-fill bg-blue">
        <h4 style="color:#fff;" class="mt-2"><strong>ONLINE GRADUATE REGISTRATION</strong>
        </h4>
      </div>
      <div class="text-right flex-fill bg-blue">
        <nz-button-group>
          <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
            <!-- <i nz-icon nzType="user"></i> -->
            <i nz-icon nzType="menu" nzTheme="outline"></i>
          </button>
        </nz-button-group>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item><a class="nav-link" (click)="redirect()">Admin Login</a></li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </div>
</div>
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a style="font-size:20px">Examiner - Viva</a>

        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <i class="fa fa-user" style="font-size:55px"></i>
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong style="font-size:25px">VIDHYA</strong>
          </span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span style="font-size:12px">Online</span>
          </span>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li>
            <a>
              <i class="fa"  style="font-size:20px"><b>S</b></i>
              <span> Synopsis Application</span>
            </a>
              <ul style="padding-left: 55px;">
                <li class="submenu">
                  <a href=""> Entry
                  </a>
                </li>
                <li class="submenu">
                  <a href=""> View
                  </a>
                </li>
                <li>
                  <a href="#"> Print</a>
                </li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <script>
    jQuery(function ($) {
  $("#close-sidebar").click(function() {
  $(".page-wrapper").removeClass("toggled");
  });
  $("#show-sidebar").click(function() {
  $(".page-wrapper").addClass("toggled");
  });
  
  });
  </script>
  </div>
</body>
</html>