
<div class="page-wrapper chiller-theme toggled">
  <app-innerheader></app-innerheader>
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#" id="show">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a style="font-size:20px">Applicant</a>

        <!-- <div id="close-sidebar">
          <button id ="close"><i class="fa fa-close"></i></button>
        </div> -->
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <i class="fa fa-user" style="font-size:40px"></i>
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong style="font-size:20px">{{getuser.name | uppercase}}</strong>
          </span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span style="font-size:12px">Online</span>
          </span>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li *ngIf="getuser.role != 'authority'">
            <a>
              <i class="fa"  style="font-size:20px"><b>A</b></i>
              <span>Application</span>
            </a>
              <ul style="padding-left: 55px;">
                <li class="submenu">
                  <a (click)="Regsiter()" > Entry
                  </a>
                </li>
                <li class="submenu">
                  <a (click)="viewDetails()" > View
                  </a>
                </li>
                <li>
                  <a (click)="download()" > Print</a>
                </li>
                <li>
                  <a (click)="Instruction()" > Instructions</a>
                </li>
              </ul>
          </li>
          <li *ngIf="getuser.role === 'authority'">
              <a>
                <i class="fa"  style="font-size:20px"><b>A</b></i>
                <span>View Details</span>
              </a>
                <ul style="padding-left: 55px;">
                  <li class="submenu">
                    <a (click)="StdDetails()" > Registered List
                    </a>
                  </li>
                 </ul>
            </li>
          <li>
            <a (click)="logout()">
              <i class="fa fa-power-off" style="font-size:20px"></i>
              <span>Logout</span>
            </a> 
            </li>
        </ul>
      </div>
    </div>
  </nav>
<div>
<div>
  <div style="padding-left:300px;">
<div>
  <div class="mt-4 col-md-12">
    <!-- <div class="ml-2 mb-2">
      <button nz-button type="button" nzType="primary" (click)="download()">Download All Data(Zip)</button>
    </div> -->
    <div>
      <nz-tabset>
        <nz-tab nzTitle="Selected List">
          <div class="float-right pb-4 col-md-2">
             <!-- <div class="search-hero col-md-3">
                <nz-select class="space align mb-4" nzAllowClear nzPlaceHolder="Search by District"
                [(ngModel)]="district" style="width: 100%;">
                <nz-option class="mb-4" nzLabel="Coimbatore" nzValue="coimbatore"></nz-option>
                <nz-option class="mb-4" nzLabel="Erode" nzValue="erode"></nz-option>
                <nz-option class="mb-4" nzLabel="The Nilgiris" nzValue="nilgiris"></nz-option>
                <nz-option class="mb-4" nzLabel="Tirupur" nzValue="tirupur"></nz-option>
              </nz-select>
            </div> -->
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input nz-input type="text" name="search" [(ngModel)]="name" 
              placeholder="Search">
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
            </div>
          <nz-table #basicTable [nzData]="select" [nzLoading]="loading" (nzPageIndexChange)="getSelected()"
          [nzScroll]="{ y: '1150px', x: '240px' }"
          [nzWidthConfig]="['100px','110px','100px','140px','100px','100px','120px','100px','100px','100px','100px','100px','100px','100px','100px']">
            <thead>
              <tr>
                <th >Name
                 
                </th>
                <th >Application No
                  
                </th>
                <th >Aadhar Number
                
                </th>
                <th >Father's/Husband's Name
                 
                </th>
                <th >Mobile Number
                 
                <th >Name of the Degree
                  
                </th>
                <th >Name of the University
                  
                </th>
                <th >Year of Passing
                 
                </th>
                <th >Occupation
                 
                </th>
                <th>Address</th>
                <th>District</th>
                <th>Aadhar proof</th>
                <th>Adress Proof</th>
                <th>Degree Certificate</th>
                <th>Download Application</th>
                <th>Remark</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data | filterlist:name||district||applicationNumber">
                <td>{{ data.name }}</td>
                <td><span *ngIf="data.application_no">{{ data.application_no }}</span><span
                  *ngIf="!data.application_no"> - </span></td>
                <td>{{ data.aadhar_number }}</td>
                <td>{{ data.father_or_husband_name }}</td>
                <td>{{ data.mobile_no }}</td>
                <td>{{ data.degree_name || '-' }}</td>
                <td>{{ data.university || '-' }}</td>
                <td>{{ data.year_of_passing || '-' }}</td>
                <td>{{ data.occupation }}</td>
                <td>{{ data.present_address }}</td>
                <td>{{ data.district }}</td>
                <td><span *ngIf="data.aadhar_proof">
                    <a [href]="getaadhar(data.aadhar_proof)" target="_blank">{{data.aadhar_proof}}</a>
                  </span>
                  <span *ngIf="!data.aadhar_proof">
                    {{'-'}}
                  </span>
                </td>
                <td><span *ngIf="data.address_proof">
                    <a [href]="getaadhar(data.address_proof)" target="_blank">{{data.address_proof}}</a>
                  </span>
                  <span *ngIf="!data.address_proof">
                    {{'-'}}
                  </span>
                </td>
                <td><span *ngIf="data.deg_provitional_cerificate">
                    <a [href]="getaadhar(data.deg_provitional_cerificate)"
                      target="_blank">{{data.deg_provitional_cerificate}}</a>
                  </span>
                  <span *ngIf="!data.deg_provitional_cerificate">
                    {{'-'}}
                  </span>
                </td>
                <td>
                  <span *ngIf="data.id"> <button type="button" class="btn btn-primary" (click)="downloadAsPDF(data.id)" >
                    <i nz-icon nzType="download" nzTheme="outline"></i>
                    </button></span>
                </td>
              </tr>
            </tbody>
          </nz-table>

          <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
          <nz-spin nzSimple [nzIndicator]="indicatorTemplate" *ngIf="loading"> </nz-spin>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search Aadhar No" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu3="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu4="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu5="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu6="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu7="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu8="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
        </nz-tab>
        <nz-tab nzTitle="Rejected List" class="justify-content-end">
          <app-rejectedstudent></app-rejectedstudent>
        </nz-tab>
        <nz-tab nzTitle="Analysis Based on District Wise" class="justify-content-end">
          <div class="row">
            <div class="col-md-12">
              <div id="chart">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
                  [responsive]="chartOptions.responsive"></apx-chart>
              </div>
            </div>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Analysis Based on Selected/Rejected" class="justify-content-end">
          <div class="col-md-12">
            <div id="chart">
              <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart" [labels]="chartOptions1.labels"
                [responsive]="chartOptions1.responsive"></apx-chart>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>
</div>