
<div class="page-wrapper chiller-theme toggled">
    <app-innerheader></app-innerheader>
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#" id="show">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a style="font-size:20px">Applicant</a>
  
          <!-- <div id="close-sidebar">
            <button id ="close"><i class="fa fa-close"></i></button>
          </div> -->
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <i class="fa fa-user" style="font-size:40px"></i>
          </div>
          <div class="user-info">
            <span class="user-name">
              <strong style="font-size:20px">{{getuser.name | uppercase}}</strong>
            </span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span style="font-size:12px">Online</span>
            </span>
          </div>
        </div>
        <div class="sidebar-menu">
          <ul>
            <li *ngIf="getuser.role != 'authority'">
              <a>
                <i class="fa"  style="font-size:20px"><b>A</b></i>
                <span>Application</span>
              </a>
                <ul style="padding-left: 55px;">
                  <li class="submenu">
                    <a (click)="Regsiter()" > Entry
                    </a>
                  </li>
                  <li class="submenu">
                    <a (click)="viewDetails()" > View
                    </a>
                  </li>
                  <li>
                    <a (click)="download()" > Print</a>
                  </li>
                  <li>
                    <a (click)="Instruction()" > Instructions</a>
                  </li>
                </ul>
            </li>
            <li *ngIf="getuser.role === 'authority'">
                <a>
                  <i class="fa"  style="font-size:20px"><b>A</b></i>
                  <span>View Details</span>
                </a>
                  <ul style="padding-left: 55px;">
                    <li class="submenu">
                      <a (click)="StdDetails()" > New User List
                      </a>
                    </li>
                    <li class="submenu">
                      <a (click)="StdRewnewalDetails()" > Renewal List
                      </a>
                    </li>
                   </ul>
              </li>
            <li>
              <a (click)="logout()">
                <i class="fa fa-power-off" style="font-size:20px"></i>
                <span>Logout</span>
              </a> 
              </li>
          </ul>
        </div>
      </div>
    </nav>
  <div>
  <div>
    <div class="container" style="padding-left:170px;" *ngIf="!url || url.is_submit === 0">
    <h2>Plese Register First!</h2>
    </div>
    <div class="container" style="padding-left:170px;" *ngIf="url.is_submit === 1">
            <div >
            <table class="table table-bordered" >
                <tbody>
                <tr>
                    <td colspan="2">Application No</td>
                    <td>
                    {{url.application_no}}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">Name in full(as entered in the
                        degree certificate) Change of name, if any,recognized by the university should alos be entered with the number
                        and date of the communication permitting the changes.</td>
                    <td>
                     
                      <img *ngIf="url.photo" style="padding-top:20px" src="{{photo}}" height=100 width=100> <br>       
                     
                      {{url.name}} 
                    </td>
                  </tr>
                  <tr>
                  <td colspan="2">Father's/Husband's Name</td>
                    <td>
                      {{url.father_or_husband_name	}}
                    </td>
                  </tr>
                  <tr>
                  <td colspan="2">Aadhar Card Number</td>
                    <td>
                      {{url.aadhar_number}}
                    </td>
                  </tr>
                 <tr>
                  <td colspan="2">Occupation</td>
                    <td>
                      {{url.occupation}}
                    </td>
                  </tr>
                  <tr>
                  <td colspan="2">Mobile Number</td>
                    <td>
                      {{url.mobile_no}}
                    </td>
                  </tr>
                  <tr>
                  <td colspan="2">Present Address</td>
                    <td>
                      {{url.present_address}}
                    </td>
                  </tr>
                  <tr>
                  <td colspan="2">Whether the Bank Draft for rs.10/- towards the registration fee is attached</td>                     
                  <td><span *ngIf="url.dd_check === 1">YES</span><span *ngIf="url.dd_check === 0">NO</span></td>
                  </tr>
                  <tr *ngIf="url.dd_check === 1">
                    <td colspan="2">Payment Details</td>                     
                    <td><div><span><b>Challan No:</b> {{url.challan_no}}</span>
                      <span style="float:right"><b>Amount:</b>  {{url.amount}}</span></div>
                      <div><span><b>Date of Payment:</b>  {{url.date}}</span>
                      <span style="float:right"><b>Bank name:</b>  {{url.bank_name}}</span></div></td>
                    </tr>
                  <tr>
                  <td colspan="2">Whether,the original cerificate
                          or copy of the degree Cerificate or provisional certificate duly attested by gazetted
                          officer,Syndicate/Senate Member of Barathiyar university in proof of qualification is attested.</td>
                   <td><span *ngIf="url.certificate_decl === 1">YES</span><span  *ngIf="url.certificate_decl === 0">NO</span></td>
             
                  </tr>
                  <tr>
                    <td colspan="2">Date of Submission</td>
                      <td>
                        {{url.date_of_submission}}
                      </td>
                    </tr>
                  <tr>
                  <tr>
                  <td colspan="2">Signature</td>
                    <td>                   
                      <img *ngIf="url.signature" src="{{sign}}" height=50 width=60>   
                    </td>
                  </tr>
                    <tr>
                    <td colspan="2">Residentails Address Proof</td>
                        <td>                   
                        <img  *ngIf="url.address_proof" src="{{add_proof}}" height=50 width=60>   
                        </td>
                    </tr>
                    <tr>
                      <td colspan="2">Photo</td>
                          <td>                   
                          <img  *ngIf="url.photo" src="{{photo}}" height=50 width=60>   
                          </td>
                      </tr>
                <tr>
                    <td colspan="2">Aadhar Proof</td>
                        <td>                   
                        <img *ngIf="url.aadhar_proof" src="{{aadhar_proof}}" height=50 width=60>   
                        </td>
                    </tr>
                    <tr>
                      <td colspan="2">DD Proof</td>
                          <td>                   
                          <img *ngIf="url.dd_image" src="{{dd_image}}" height=50 width=60>   
                          </td>
                      </tr>
                </tbody>
              </table>
            </div>
            </div>
            </div>
  